/* match the font on the weld-wise.com site */
@font-face {
    font-family: "Lato";
    src: local("Lato"), url(../fonts/Lato/Lato-Regular.ttf) format("truetype");
}
body > * {
    font-family: Lato, arial, sans-serif;
}

/* change size of logo in the navbar */
.navbar-brand {
    min-width: 100px;
    padding: 0 !important;
    margin: 0 !important;
}

.navbar-brand img {
    width: 10vw;
}

/* change the size of the logo in the footer */
#footer-logo {
    width: 105px;
}

/* custom background colors */
.bg-ww-dark {
    background-color: #145aa0 !important;
}

.border-ww-dark {
    border-color: #145aa0 !important;
}

.bg-light-grey {
    background-color: #ececec !important;
}

.bg-ww-light {
    background-color: #4491dd !important;
}

.bg-ww-orange {
    background-color: #e06227 !important;
}

/* custom button colors */
.btn-ww-dark {
    border-color: #2c6cac !important;
    color: #ffffff !important;
    background-color: #2c6cac !important;
}

.btn-ww-dark:hover {
    border-color: #26619b !important;
    color: #ffffff;
    background-color: #26619b !important;
}

.btn-ww-light {
    border-color: #66adf5 !important;
    color: #ffffff !important;
    background-color: #66adf5 !important;
}

.btn-ww-light:hover {
    border-color: #4b96e0 !important;
    color: #ffffff;
    background-color: #4b96e0 !important;
}

.btn-ww-orange {
    border-color: #e06227 !important;
    color: #ffffff !important;
    background-color: #e06227 !important;
}

.btn-ww-orange * {
    color: #ffffff !important;
}

.btn-ww-orange:hover {
    border-color: #c75520 !important;
    color: #ffffff;
    background-color: #c75520 !important;
}

.btn-success-light {
    border-color: #3fbb20 !important;
    color: #ffffff !important;
    background-color: #3fbb20 !important;
}

.btn-success-light * {
    color: #ffffff !important;
}

.btn-success-light:hover {
    border-color: #38a31d !important;
    color: #ffffff;
    background-color: #38a31d !important;
}

/* custom text colors */
.text-ww-grey,
.text-ww-grey * {
    color: #d1d1d1 !important;
}

.text-navy {
    color: #0a2a4b !important;
}

.text-white-recursive * {
    color: #ffffff !important;
}

/* custom misc colors */
.error {
    color: #ee1c1c;
    font-weight: bold;
}

.border-light-grey {
    border-color: #ececec !important;
}

/* override */
/* override bootstrap colors */
.form-check-input:checked {
    background-color: #145aa0 !important;
    border-color: #145aa0 !important;
}

/* override laravel colors */
.pagination * {
    color: #000000 !important;
}

.pagination .page-item.active,
.pagination .page-item.active * {
    color: #ffffff !important;
    background-color: #e06227 !important;
    border: #e06227 !important;
}

/* override iti phone number field width */
.iti {
    width: 100% !important;
}

/* round scrollbar */
::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

::-webkit-scrollbar-track {
    background-color: #f5f5f5;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #ccc;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #999;
}

/* custom hover classes */
.hover-darken:hover {
    background-image: linear-gradient(rgb(0 0 0/10%) 0 0) !important;
}

/* custom cursor classes */
.cursor-pointer {
    cursor: pointer;
}

/* custom postion classes */
.bottom-10 {
    position: absolute;
    bottom: 10px;
}

@media (max-width: 600px) {
    .bottom-10 {
        position: relative;
    }
}

/* custom height classes */
.h-px-150 {
    height: 150px !important;
}

@media (min-width: 1024px) {
    .lg\:h-px-220 {
        height: 220px !important;
    }
}

.min-vh-50 {
    min-height: 50vh;
}

.min-vh-20 {
    min-height: 20vh;
}

/* custom text classes */
.text-shadow {
    text-shadow: rgba(0, 0, 0, 0.5) 0 1px 10px;
}
